// container
$container-width: 1320px;
$container-paddings: 0 20px;

// font
$primary-font: 'Sen';

// font sizes
$big-text: 56px;
$h1: 48px;
$h2: 36px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 16px;

$text-regular: 16px;
$text-small: 14px;

$lh-regular: 28px;
$lh-small: 20px;

// colors
$primary: #FFD050;
$secondary: #232536;
$accent: #592EA9;
$gray-500: #4C4C4C;
$gray-400: #6D6E76;
$gray-300: #F4F4F4;
$gray-200: #F4F0F8;
$light: #FBF6EA;